<!doctype html>{% load i18n staticfiles cms_tags cms_static sekizai_tags menu_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% page_attribute "page_title" %}</title>
    {% render_block "css" %}
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.base.css' %}">
    <link rel="stylesheet" href="{% static_with_version 'cms/css/cms.welcome.css' %}">
</head>
<body class="cms-welcome-bg">
    {% cms_toolbar %}
    <div class="cms-reset cms-welcome">
        <header class="cms-welcome-header">
            <h1 class="cms-welcome-heading">
                <span class="cms-icon cms-icon-check"></span>
                django-ya-model-publisher
            </h1>
        </header>
        <section class="cms-welcome-section">
            {% block content %}
                {% placeholder "content" %}
            {% endblock %}
        </section>
        <section class="cms-welcome-section">
            {% include "includes/user_info.html" %}
            {% if object %}
                <h2>Some information about 'object' {{ object }}:</h2>
                <ul>
                    <li>is draft: {{ object.publisher_is_draft|yesno:"true,false,none" }}</li>
                    <li>is dirty: {{ object.is_dirty|yesno:"true,false,none" }}</li>
                </ul>
            {% endif %}

            <h2>Some information about this current cms page:</h2>
            <ul>
                <li>is draft: {{ current_page.publisher_is_draft|yesno:"true,false,none" }}</li>
                <li>is dirty: {{ current_page.is_dirty|yesno:"true,false,none" }}</li>
            </ul>
        </section>
        <footer class="cms-welcome-footer">
            <p class="cms-welcome-links">
                Links:
                <a href="https://github.com/wearehoods/django-ya-model-publisher" target="_blank">github</a>
                <a href="https://pypi.org/project/django-ya-model-publisher/" target="_blank">pypi</a>
                <a href="https://www.djangoproject.com/" target="_blank">django <strong>v{{ django_version }}</strong></a>
                <a href="https://django-cms.org/" target="_blank">django CMS <strong>v{{ cms_version }}</strong></a>
            </p>
            {% if user.is_anonymous %}<p><a href="/admin/">login</a></p>{% endif %}
            <p>Existing CMS pages:</p>
            <ul>
                {% show_menu 0 100 100 100 %}
            </ul>
        </footer>
    </div>
    {% render_block "js" %}
</body>
</html>
