{% load i18n admin_static admin_modify admin_urls %}

{% if has_ask_request_permission or has_reply_request_permission %}
{% if current_request %}
    <p>
        {% with action=current_request.action_name user=current_request.request_user.username time=current_request.request_timestamp %}
        {% blocktrans %}
            {{ action }} request from user '{{ user }}' ({{ time }})
        {% endblocktrans %}
        {% endwith %}
    </p>
    <p>{% trans 'Note:' %}</p>
    <pre>{{ current_request.request_note|default_if_none:"-" }}</pre>
{% endif %}
<div class="submit-row">
    {% if POST_ASK_PUBLISH_KEY %}<input type="submit" value="{% trans 'Request Publishing' %}" class="default" name="{{ POST_ASK_PUBLISH_KEY }}" />{% endif %}
    {% if POST_REPLY_ACCEPT_KEY %}<input type="submit" value="{% trans 'Accept and Publish' %}" class="default" name="{{ POST_REPLY_ACCEPT_KEY }}" />{% endif %}
    {% if POST_REPLY_REJECT_KEY %}<input type="submit" value="{% trans 'Reject publish request' %}" class="default" name="{{ POST_REPLY_REJECT_KEY }}" />{% endif %}
</div>
{% endif %}

{% submit_row %}