{% load i18n admin_static admin_urls %}

{% if add_current_request_info %}
    {% if current_request %}
        {% with current_state=current_request %}
            {% include "publisher/includes/current_state_info.html" %}
        {% endwith %}
    {% else %}
        <p>{% trans "(No pending publisher request)" %}</p>
    {% endif %}
{% endif %}


<div class="submit-row">
{% if POST_ASK_PUBLISH_KEY or POST_ASK_UNPUBLISH_KEY %}

    {% if POST_ASK_PUBLISH_KEY %}
        <input type="submit" value="{% trans 'Request Publishing' %}" class="default" name="{{ POST_ASK_PUBLISH_KEY }}" />
    {% endif %}
    {% if POST_ASK_UNPUBLISH_KEY %}
        <input type="submit" value="{% trans 'Request Unpublishing' %}" class="default" name="{{ POST_ASK_UNPUBLISH_KEY }}" />
    {% endif %}

{% elif POST_REPLY_ACCEPT_KEY and POST_REPLY_REJECT_KEY %}

    {% if action == "publish" %}{# see publisher/constants.ACTION_PUBLISH #}
        <input type="submit" value="{% trans 'Accept and Publish' %}" class="default" name="{{ POST_REPLY_ACCEPT_KEY }}" />
        <input type="submit" value="{% trans 'Reject Publish request' %}" class="default" name="{{ POST_REPLY_REJECT_KEY }}" />
    {% elif action == "unpublish" %}{# see publisher/constants.ACTION_UNPUBLISH #}
        <input type="submit" value="{% trans 'Accept and Unpublish' %}" class="default" name="{{ POST_REPLY_ACCEPT_KEY }}" />
        <input type="submit" value="{% trans 'Reject Unpublish request' %}" class="default" name="{{ POST_REPLY_REJECT_KEY }}" />
    {% elif not action %}
        <h1>ERROR: No 'action' in context!</h1>
    {% endif %}

{% elif POST_SAVE_AND_PUBLISH_KEY %}

    <input type="submit" value="{% trans 'Save and Publish' %}" class="default" name="{{ POST_SAVE_AND_PUBLISH_KEY }}" />
    <input type="submit" value="{% trans 'Save draft' %}" class="default" name="_save" />

{% endif %}
</div>

